schemas/2.3.10/param-encryption.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order.xsd"/>
	<xs:element name="param-encryption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="encrypted-token" minOccurs="0" />
				<xs:element ref="parameters" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param-key"/>
				<xs:element ref="param-value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="encrypted-token">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="param-key">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
