schemas/2.3.10/sku.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="item-price.xsd"/>
	<xs:element name="sku">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id" />
				<xs:element ref="sku-name" />
				<xs:element ref="sku-charge-price" minOccurs="0"
					maxOccurs="2" />
				<xs:element ref="trial-days" minOccurs="0"
					maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-charge-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-type" />
				<xs:element ref="amount" />
				<xs:element ref="currency" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="trial-days">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="contract-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-status">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>