schemas/XSDs/account-update.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="credit-card-info.xsd" />
	<xs:element name="account-update">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="merchant-updater-id" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="update-response-code" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="update-response-message" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="original-card" minOccurs="1" maxOccurs="1"/>				
				<xs:element ref="updated-card" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="merchant-updater-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="update-response-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="update-response-message">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="original-card">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="credit-card" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="updated-card">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="credit-card" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
							
</xs:schema>


