schemas/XSDs/becs-direct-debit-transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order.xsd" />
	<xs:include schemaLocation="common-account.xsd"/>
	<xs:include schemaLocation="debit-agreement.xsd"/>

	<xs:element name="becs-direct-debit-transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bsb-number" />
				<xs:element ref="account-number" />
				<xs:element ref="account-name" />
				<xs:element ref="financial-institution" />
				<xs:element ref="branch-name" />
				<xs:element ref="public-account-number" />
				<xs:element ref="agreement-id" minOccurs="0" maxOccurs="1" />
				<xs:element ref="pre-notification-ref" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="bsb-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="financial-institution">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="branch-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

</xs:schema>
