schemas/XSDs/common-account.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	
	<xs:element name="account-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="account-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="account-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="routing-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="public-account-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="public-routing-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

</xs:schema>
