schemas/XSDs/coupon-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="sku.xsd"/>
	<xs:include schemaLocation="cart-info.xsd"/>
	<xs:element name="batch-coupon">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="cart-info"/>
				<xs:element ref="coupons-info" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="coupons-info">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="coupon-info" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coupon-id"  minOccurs="0"/>
				<xs:element ref="product-owner-id" minOccurs="0"/>
				<xs:element ref="coupon-name"/>
				<xs:element ref="coupon-display-name"/>
				<xs:element ref="minimal-amount" />
				<xs:element ref="usage-count-limit"/>
				<xs:element ref="coupon-effective-date"/>
				<xs:element ref="coupon-expiration-date" minOccurs="0"/>
				<xs:element ref="one-per-email"/>
				<xs:element ref="apply-recurring-charges"/>
				<xs:element ref="applicable-cycles" minOccurs="0"/>
				<xs:element ref="coupon-discount-policy"/>								
				<xs:element ref="coupon-rules"/>
				<xs:element ref="coupon-codes-info"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-rules">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="applied-skus-rule"/>
				<xs:element ref="coupon-exceptions" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-codes-info">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="coupon-code-info" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-code-info">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="coupon-code" minOccurs="0"/>
				<xs:element ref="coupon-code-usage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-code-usage">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>					
	<xs:element name="coupon-exceptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>			
	<xs:element name="minimal-amount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="usage-count-limit">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-effective-date">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<!-- Already exists in user.xsd -->	
	<xs:element name="coupon-expiration-date">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="one-per-email">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="apply-recurring-charges">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="applicable-cycles">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="applied-skus-rule">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-value">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-discount-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-owner-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="coupon-display-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="price-discount">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency"/>
				<xs:element ref="amount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="price-discounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price-discount" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price-discounts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-percent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="percent-discount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
	<xs:element name="percent-discount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-discount-policy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coupon-discount-type"/>
				<xs:element ref="coupon-price" minOccurs="0"/>
				<xs:element ref="coupon-percent"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>																						
</xs:schema>
