schemas/XSDs/cp-user.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	
	<xs:include schemaLocation="vendor.xsd"/>
	<xs:include schemaLocation="store.xsd"/>
	
	<xs:element name="cp-user-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user-id" type="xs:long" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="username" type="xs:string" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="first-name" type="xs:string" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="last-name" type="xs:string" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" form="qualified"/>

				<xs:element name="admin" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-account-maintenance" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-refunds" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-locator" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-view-finansial-info" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-view-financial-info" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-transfer-to-vendor" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-user-maintenance" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-reports" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-product-maintenance" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-licence-management" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-manual-order-approval" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-affiliate-approval" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-affiliate-maintenance" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-affiliate-maintanance" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-royalty-maintenance" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-royalty-maitenence" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-modify-subscriptions" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-api-credentials" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-virtual-terminal" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xs:element name="allow-virtual-terminal-admin" type="xs:boolean" minOccurs="0" maxOccurs="1" form="qualified"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>