schemas/XSDs/debit-agreement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
           targetNamespace="http://ws.plimus.com">
    <xs:include schemaLocation="order.xsd"/>
    <xs:include schemaLocation="transaction-common.xsd"/>

    <xs:element name="debit-agreement">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="region" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="debit-type" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="agreement-name" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="agreement-id" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="version" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="loacle" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="agreement-text" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="pre-notification-agreement-text" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="status" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="region">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>

    <xs:element name="debit-type">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>

    <xs:element name="agreement-name">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>

    <xs:element name="agreement-id">
        <xs:simpleType>
            <xs:restriction base="xs:long" />
        </xs:simpleType>
    </xs:element>

    <xs:element name="version">
        <xs:simpleType>
            <xs:restriction base="xs:long"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="loacle">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="agreement-text">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="pre-notification-agreement-text">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

</xs:schema>
