schemas/XSDs/ecp-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	
	<!-- For billing-contact-info. -->
	<xs:include schemaLocation="credit-card-info.xsd"/>
	
	<xs:element name="ecps-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ecp-info" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ecp-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="billing-contact-info" />
				<xs:element ref="ecp" />
				<xs:element ref="status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ecp-details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="billing-contact-info" />
				<xs:element ref="ecp" />
				<xs:element ref="status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ecp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="account-number" />
				<xs:element ref="routing-number" />
				<xs:element ref="account-type" />
				<xs:element ref="public-account-number" />
				<xs:element ref="public-routing-number" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="account-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="account-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="routing-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="public-account-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="public-routing-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

</xs:schema>
