schemas/XSDs/fulfillment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="sku.xsd"/>
	<xs:element name="sku-license">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id"/>
				<xs:element ref="sku-name"/>
				<xs:element ref="license-key" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-download-link">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id"/>
				<xs:element ref="sku-name"/>
				<xs:element ref="download-link" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="license-keys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-license" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="download-links">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-download-link" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fulfillment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="license-keys" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="download-links" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="license-key">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="download-link">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
