schemas/XSDs/item-price.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="price.xsd"/>
	<xs:include schemaLocation="order.xsd"/>
	<xs:element name="store-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="quantity">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tax-included" type="xs:boolean" />
	<xs:element name="item-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="store-id" />
				<xs:element ref="quantity" />
				<xs:element ref="unit-price" />
				<xs:element ref="total-price" />
				<xs:element ref="total-price-with-tax" />
				<xs:element ref="tax" />
				<xs:element ref="tax-recurring" minOccurs="0"/>
				<xs:element ref="tax-rate" />
				<xs:element ref="country" />
				<xs:element ref="state" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="unit-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-price" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="total-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-price" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="total-price-with-tax">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-price" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-type" />
				<xs:element ref="value" />
				<xs:element ref="currency" />
				<xs:element ref="formatted-price" />
				<xs:element ref="tax-included" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="initial" />
				<xs:enumeration value="recurring" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
