schemas/XSDs/local-bank-transfer-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">	
	<xs:element name="local-bank-transfer-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="swift-code" />
				<xs:element ref="ifsc-neft" />
				<xs:element ref="payment-reference" />
				<xs:element ref="additional-reference" />
				<xs:element ref="account-holder" />
				<xs:element ref="bank-code" />
				<xs:element ref="bank-name" />
				<xs:element ref="iban" />
				<xs:element ref="country-description" />
				<xs:element ref="status-id" minOccurs="0"/>
				<xs:element ref="bank-city" />
				<xs:element ref="bank-account-number" />								
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="swift-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="ifsc-neft">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment-reference">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="additional-reference">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="account-holder">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="effort-id">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="attempt-id">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="iban">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="country-description">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-city">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="status-id">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-account-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	
</xs:schema>
