schemas/XSDs/messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order.xsd"/>
	<xs:include schemaLocation="price.xsd"/>
	<xs:element name="message-value">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="message" maxOccurs="unbounded"/>
				<xs:element ref="three-d-security-info" minOccurs="0"/>
				<xs:element ref="plimus-calculated-total" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="error-name" minOccurs="0"/>
				<xs:element ref="code" minOccurs="0"/>
				<xs:element ref="description"/>
				<xs:element ref="invalid-property" minOccurs="0"/>
				<xs:element ref="fraud-events" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="three-d-security-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="payer-authentication-request"/>
				<xs:element ref="acs-link"/>
				<xs:element ref="transaction-id"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="plimus-calculated-total">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price"/>
				<xs:element ref="cart"  minOccurs="0"/>
				<xs:element ref="subscription-payment"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subscription-payment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coupons-total" minOccurs="0" />
				<xs:element ref="tax" minOccurs="0" />
				<xs:element ref="tax-rate" minOccurs="0" />
				<!-- <xs:element ref="tax-rate" minOccurs="0" /> -->
				<xs:element ref="charged-currency" />
				<xs:element ref="total-subscription-charge-cost" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fraud-events">
		<xs:complexType>
			<xs:sequence>
			    <xs:element ref="fraud-reference-id" minOccurs="0"  maxOccurs="1"/>
				<xs:element ref="fraud-event" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="fraud-event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fraud-event-code" minOccurs="0"/>
				<xs:element ref="fraud-event-decision" minOccurs="0"/>
				<xs:element ref="fraud-event-expression" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="total-subscription-charge-cost">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="payer-authentication-request">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acs-link">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="invalid-property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="message-value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="error-name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="code">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
    <xs:element name="fraud-reference-id">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>   
    <xs:element name="fraud-event-code">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>   
	<xs:element name="fraud-event-decision">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fraud-event-expression">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>			
</xs:schema>
