schemas/XSDs/processing-info.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">

	<xs:include schemaLocation="network-transaction-info.xsd"/>
	<xs:include schemaLocation="authorization-code.xsd"/>

	<xs:element name="processing-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="processing-status" minOccurs="1"
					maxOccurs="1" />
				<xs:element ref="processing-errors" minOccurs="0"
					maxOccurs="1" />
				<xs:element ref="cvv-response-code" minOccurs="0"
					maxOccurs="1" />
				<xs:element ref="authorization-code" minOccurs="0"
							maxOccurs="1" />
				<xs:element ref="avs-response-code-zip" minOccurs="0"
					maxOccurs="1" />
				<xs:element ref="avs-response-code-address" minOccurs="0"
					maxOccurs="1" />
				<xs:element ref="avs-response-code-name" minOccurs="0"
					maxOccurs="1" />
				<xs:element ref="network-transaction-id" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="processing-status">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="processing-error-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="processing-error-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="processing-error-description">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="processing-error">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="processing-error-code" minOccurs="1"
					maxOccurs="1" />
				<xs:element ref="processing-error-name" minOccurs="1"
					maxOccurs="1" />
				<xs:element ref="processing-error-description" minOccurs="1"
					maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="processing-errors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="processing-error" minOccurs="1"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="cvv-response-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="avs-response-code-zip">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="avs-response-code-address">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="avs-response-code-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

</xs:schema>
