schemas/XSDs/shopper.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="item-price.xsd"/>
	<xs:include schemaLocation="credit-card-info.xsd"/>
	<xs:include schemaLocation="ecp-info.xsd"/>
	<xs:include schemaLocation="sepa-direct-debit-info.xsd"/>
	<xs:include schemaLocation="ordering-shopper.xsd"/>
	<xs:include schemaLocation="web-info.xsd"/>
	<xs:include schemaLocation="three-d-info.xsd"/>
	<xs:include schemaLocation="shipping-contact-info.xsd"/>
	<xs:include schemaLocation="shopper-common.xsd"/>
	<xs:include schemaLocation="three-d-secure.xsd"/>
	
	<xs:element name="vat-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="locale">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="permitted-future-charges">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="username">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="password">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="update-existing-subscriptions">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="shopper-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shopper-id" minOccurs="0" />
				<xs:element ref="seller-shopper-id" minOccurs="0" />
				<xs:element ref="username" minOccurs="0" maxOccurs="1" />
				<xs:element ref="password" minOccurs="0" maxOccurs="1" />
				<xs:element ref="shopper-contact-info" minOccurs="0" />
				<xs:element ref="shipping-contact-info" minOccurs="0" />
				<xs:element ref="invoice-contacts-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="payment-info" minOccurs="0" />
				<xs:element ref="chosen-payment-method" minOccurs="0" maxOccurs="1" />
				<xs:element ref="store-id" minOccurs="0" />
				<xs:element ref="vat-code" minOccurs="0" />
				<xs:element ref="shopper-currency" minOccurs="0" />
				<xs:element ref="locale" minOccurs="0" />
				<xs:element ref="permitted-future-charges" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="soft-descriptor" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="descriptor-phone-number" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shopper-contact-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0" />
				<xs:element ref="first-name" minOccurs="0" />
				<xs:element ref="last-name" minOccurs="0" />
				<xs:element ref="email" minOccurs="0" />
				<xs:element ref="company-name" minOccurs="0" />
				<xs:element ref="address1" minOccurs="0" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0" />
				<xs:element ref="zip" minOccurs="0" />
				<xs:element ref="country" minOccurs="0" />
				<xs:element ref="phone" minOccurs="0" />
				<xs:element ref="fax" minOccurs="0" />
				<xs:element ref="personal-identification-number" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shopper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shopper-info" />
				<xs:element ref="web-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="fraud-info" minOccurs="0" maxOccurs="1"/>				
				<xs:element ref="three-d-authenticated-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="three-d-secure" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="wallet-id" minOccurs="0" />
				<xs:element ref="transaction-order-source" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="date-created" minOccurs="0" maxOccurs="1" />
				<xs:element ref="time-created" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="invoice-contacts-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice-contact-info" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="invoice-contact-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="default" minOccurs="0" />
				<xs:element ref="vat-code" minOccurs="0" />
				<xs:element ref="title" minOccurs="0" />
				<xs:element ref="first-name" minOccurs="0" />
				<xs:element ref="last-name" minOccurs="0" />
				<xs:element ref="email" minOccurs="0" />
				<xs:element ref="company-name" minOccurs="0" />
				<xs:element ref="address1" minOccurs="0" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0" />
				<xs:element ref="zip" minOccurs="0" />
				<xs:element ref="country" minOccurs="0" />
				<xs:element ref="phone" minOccurs="0" />
				<xs:element ref="fax" minOccurs="0" />
				<xs:element ref="update-existing-subscriptions" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="default">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element> 
	<xs:element name="payment-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="credit-card-info" minOccurs="0" />
				<xs:element ref="credit-cards-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ecps-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="sepa-direct-debits-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="becs-direct-debits-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="acss-direct-debits-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="wallet" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="balance" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="credit-cards-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="credit-card-info" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="chosen-payment-method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="chosen-payment-method-type" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="credit-card" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ecp-info" minOccurs="0" maxOccurs="1" />			
				<xs:element ref="sepa-direct-debit-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="becs-direct-debit-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="acss-direct-debit-info" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="chosen-payment-method-type">
			<xs:simpleType>
				<xs:restriction base="xs:string" />
			</xs:simpleType>
	</xs:element>

	<xs:element name="balance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="value" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="fax">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
