schemas/XSDs/tax.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order.xsd"/>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="address3">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="longitude">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="latitude">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="commit">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="status-message">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="status-info">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="status" minOccurs="0"/>
					<xs:element ref="status-message" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
	</xs:element>
	<xs:element name="tax-info">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="address-info" minOccurs="2" maxOccurs="2"/>
					<xs:element ref="usage-type" minOccurs="0"/>
					<xs:element ref="business-id" minOccurs="0"/>
					<xs:element ref="customer-code" minOccurs="1"/>
					<xs:element ref="company-code" minOccurs="0"/>
					<xs:element ref="sale-date" minOccurs="0"/>
					<xs:element ref="commit" minOccurs="0"/>
					<xs:element ref="purchase-order-no" minOccurs="0"/>
					<xs:element ref="cart" minOccurs="1"/>
					<xs:element ref="status-info" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
	</xs:element>
	<xs:element name="address-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type" minOccurs="1" />
				<xs:element ref="address1" minOccurs="1" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="address3" minOccurs="0" />
				<xs:element ref="city" minOccurs="1" />
				<xs:element ref="state" minOccurs="0"/>
				<xs:element ref="zip" minOccurs="0"/>
				<xs:element ref="country" minOccurs="1"/>
				<xs:element ref="longitude" minOccurs="0" />
				<xs:element ref="latitude" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usage-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="customer-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="purchase-order-no">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="company-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="business-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sale-date">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
