schemas/XSDs/vendor-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:element name="vendor-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vendor-id" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="commission-amount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="commission-percent" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="commission-amount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="commission-percent">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="vendor-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>	
	
	<xs:element name="vendors-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vendor-info" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>       
	
						
</xs:schema>


