schemas/XSDs/vendor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
           targetNamespace="http://ws.plimus.com">
    <xs:include schemaLocation="currency-rates.xsd"/>
    <xs:include schemaLocation="shopper.xsd"/>
    <xs:include schemaLocation="messages.xsd"/>
    <xs:include schemaLocation="vendor-info.xsd"/>
    <xs:include schemaLocation="contact-info.xsd"/>
    <xs:include schemaLocation="plans.xsd"/>

    <xs:element name="default-store-id">
        <xs:simpleType>
            <xs:restriction base="xs:long"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="website-address">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="business-type">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="tax-id">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="vat-id">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="swift-bic">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="seller-id">
        <xs:simpleType>
            <xs:restriction base="xs:long"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="delay">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="frequency">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="MONTHLY"/>
                <xs:enumeration value="DAILY"/>
                <xs:enumeration value="WEEKLY"/>
                <xs:enumeration value="SEMIMONTHLY"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="account-status">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="ACTIVE"/>
                <xs:enumeration value="INACTIVE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="payout-type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="SEPA"/>
                <xs:enumeration value="ACH"/>
                <xs:enumeration value="WIRE"/>
                <xs:enumeration value="CHAPS"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="bank-account-class">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="CORPORATE"/>
                <xs:enumeration value="PERSONAL"/>
                <xs:enumeration value="INTERNATIONAL"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="bank-account-type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="CHECKING"/>
                <xs:enumeration value="SAVINGS"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="commission-currency">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="currency-code">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="sort-code">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="bank-id">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="bank-account-id">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="name-on-account">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="recurring-commission">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="driver-license-number">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="passport-number">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="minimal-payout-amount">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="missing-items">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="decline-reason">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="payout-status">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="dob">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="default-payout-currency">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="refund-reserve">
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="last-four-ssn">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="vendor-principal">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="first-name" minOccurs="1"/>
                <xs:element ref="last-name" minOccurs="1"/>
                <xs:element ref="address" minOccurs="0"/>
                <xs:element ref="address2" minOccurs="0"/>
                <xs:element ref="city" minOccurs="0"/>
                <xs:element ref="zip" minOccurs="0"/>
                <xs:element ref="state" minOccurs="0"/>
                <xs:element ref="country" minOccurs="0"/>
                <xs:element ref="dob" minOccurs="1"/>
                <xs:element ref="last-four-ssn" minOccurs="0"/>
                <xs:element ref="personal-identification-number" minOccurs="0"/>
                <xs:element ref="passport-number" minOccurs="0"/>
                <xs:element ref="driver-license-number" minOccurs="0"/>
                <xs:element ref="email" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="verification">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="payout-status" minOccurs="0"/>
                <xs:element ref="processing-status" minOccurs="0"/>
                <xs:element ref="decline-reason" minOccurs="0"/>
                <xs:element ref="missing-items" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="intermediary-bank-info">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="bank-name" minOccurs="0"/>
                <xs:element ref="bank-id" minOccurs="0"/>
                <xs:element ref="country" minOccurs="0"/>
                <xs:element ref="swift-bic" minOccurs="0"/>
                <xs:element ref="state" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="payout-info">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="payout-type" minOccurs="1"/>
                <xs:element ref="base-currency" minOccurs="0"/>
                <xs:element ref="refund-reserve" minOccurs="0"/>
                <xs:element ref="minimal-payout-amount" minOccurs="0"/>
                <xs:element ref="name-on-account" minOccurs="0"/>
                <xs:element ref="bank-account-class" minOccurs="0"/>
                <xs:element ref="bank-account-type" minOccurs="0"/>
                <xs:element ref="swift-bic" minOccurs="0"/>
                <xs:element ref="bank-name" minOccurs="0"/>
                <xs:element ref="bank-id" minOccurs="0"/>
                <xs:element ref="country" minOccurs="0"/>
                <xs:element ref="city" minOccurs="0"/>
                <xs:element ref="address" minOccurs="0"/>
                <xs:element ref="state" minOccurs="0"/>
                <xs:element ref="zip" minOccurs="0"/>
                <xs:element ref="sort-code" minOccurs="0"/>
                <xs:element ref="iban" minOccurs="0"/>
                <xs:element ref="bank-account-id" minOccurs="0"/>
                <xs:element ref="intermediary-bank-info" minOccurs="0"/>
                <xs:element ref="payment-reference" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="vendor-agreement">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="commission-percent" minOccurs="0"/>
                <xs:element ref="account-status" minOccurs="0"/>
                <xs:element ref="recurring-commission" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="seller">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="seller-id" minOccurs="0"/>
                <xs:element ref="email" minOccurs="0"/>
                <xs:element ref="name" minOccurs="0"/>
                <xs:element ref="username" minOccurs="0"/>
                <xs:element ref="company-name" minOccurs="0"/>
                <xs:element ref="website-address" minOccurs="0"/>
                <xs:element ref="first-name" minOccurs="0"/>
                <xs:element ref="last-name" minOccurs="0"/>
                <xs:element ref="address" minOccurs="0"/>
                <xs:element ref="city" minOccurs="0"/>
                <xs:element ref="zip" minOccurs="0"/>
                <xs:element ref="country" minOccurs="0"/>
                <xs:element ref="phone" minOccurs="0"/>
                <xs:element ref="business-type" minOccurs="0"/>
                <xs:element ref="default-store-id" minOccurs="0"/>
                <xs:element ref="password" minOccurs="0"/>
                <xs:element ref="address2" minOccurs="0"/>
                <xs:element ref="state" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="vendor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="vendor-id" minOccurs="0"/>
                <xs:element ref="merchant-id" minOccurs="0"/>
                <xs:element ref="email" minOccurs="0"/>
                <xs:element ref="name" minOccurs="0"/>
                <xs:element ref="vendor-url" minOccurs="0"/>
                <xs:element ref="ipn-url" minOccurs="0"/>
                <xs:element ref="first-name" minOccurs="0"/>
                <xs:element ref="last-name" minOccurs="0"/>
                <xs:element ref="address" minOccurs="0"/>
                <xs:element ref="address2" minOccurs="0"/>
                <xs:element ref="city" minOccurs="0"/>
                <xs:element ref="zip" minOccurs="0"/>
                <xs:element ref="country" minOccurs="0"/>
                <xs:element ref="phone" minOccurs="0"/>
                <xs:element ref="state" minOccurs="0"/>
                <xs:element ref="tax-id" minOccurs="0"/>
                <xs:element ref="vat-id" minOccurs="0"/>
                <xs:element ref="default-payout-currency" minOccurs="0"/>
                <xs:element ref="frequency" minOccurs="0"/>
                <xs:element ref="delay" minOccurs="0"/>
                <xs:element ref="vendor-principal" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element ref="payout-info" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element ref="vendor-agreement" minOccurs="0"/>
                <xs:element ref="verification" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="vendors">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="total-results" minOccurs="0"/>
                <xs:element ref="last-page" minOccurs="0"/>
                <xs:element ref="vendor" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
