schemas/2.3.12/alternative-transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">

	<xs:include schemaLocation="processing-info.xsd" />
	<xs:include schemaLocation="transaction-common.xsd" />
	<xs:include schemaLocation="vendor-info.xsd"/>
	<xs:include schemaLocation="price.xsd" />
	<xs:include schemaLocation="transaction-fraud-info.xsd" />
	<xs:include schemaLocation="transaction-meta-data.xsd" />
	<xs:include schemaLocation="paypal-transaction.xsd" />
	<xs:include schemaLocation="ecp-transaction.xsd" />
	<xs:include schemaLocation="refunds.xsd"/>


	<xs:element name="alt-transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="merchant-transaction-id" minOccurs="0"	maxOccurs="1" />
				<!-- BLS invoice id for response -->
				<xs:element ref="transaction-id" minOccurs="0" />
				<xs:element ref="vendor-info" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="soft-descriptor" minOccurs="0"	maxOccurs="1" />
				<xs:element ref="amount" minOccurs="1" maxOccurs="1" />
				<xs:element ref="currency" minOccurs="1" maxOccurs="1" />
				<xs:element ref="payer-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="vaulted-shopper-id" minOccurs="0" maxOccurs="1" />
				<xs:element ref="transaction-description" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="paypal-transaction" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ecp-transaction" minOccurs="0" maxOccurs="1" />
				<xs:element ref="transaction-meta-data" minOccurs="0" maxOccurs="1" />
				<xs:element ref="transaction-fraud-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="authorized-by-shopper" minOccurs="0" maxOccurs="1" />
				
				<!-- for response -->
				<xs:element ref="processing-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="fraud-result-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="refunds" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="payer-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="merchant-shopper-id" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="first-name" minOccurs="1" maxOccurs="1" />
				<xs:element ref="last-name" minOccurs="1" maxOccurs="1" />
				<xs:element ref="email" minOccurs="0" maxOccurs="1" />
				<xs:element ref="country" minOccurs="0" maxOccurs="1" />
				<xs:element ref="state" minOccurs="0" maxOccurs="1" />
				<xs:element ref="address" minOccurs="0" maxOccurs="1" />
				<xs:element ref="address2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="city" minOccurs="0" maxOccurs="1" />
				<xs:element ref="zip" minOccurs="0" maxOccurs="1" />
				<xs:element ref="phone" minOccurs="0" maxOccurs="1" />
				<xs:element ref="company-name" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="personal-identification-number" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="transaction-description">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
