schemas/2.3.12/batch-transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
    targetNamespace="http://ws.plimus.com">
    
<xs:include schemaLocation="transaction.xsd"/>
<xs:include schemaLocation="alternative-transaction.xsd"/>

<xs:include schemaLocation="store-common.xsd"/>

    <xs:element name="batch-transaction">
        <xs:complexType>
            <xs:sequence>
            
            	<!-- input and output -->
                <xs:element ref="batch-id" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="callback-url" minOccurs="1" maxOccurs="1"/>
                
                <!-- output -->
                <xs:element ref="transaction-count" minOccurs="0" maxOccurs="1"/>
 
            	<!-- input and output -->
                <xs:element ref="card-transaction" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="alt-transaction" minOccurs="0" maxOccurs="unbounded" />
                
                <!-- output -->
                <xs:element ref="processing-info" minOccurs="0" maxOccurs="1" />
                
           </xs:sequence>
        </xs:complexType>
    </xs:element>


	<xs:element name="batch-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	        
    
    <xs:element name="transaction-count">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
    
    
</xs:schema>
