schemas/2.3.12/batch-account-update.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">

	<xs:include schemaLocation="account-update.xsd" />
	

	<xs:element name="batch-account-update">
		<xs:complexType>
			<xs:sequence>
		
			<xs:element ref="account-update-batch-id" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="response-code" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="response-message" minOccurs="0" maxOccurs="1"/>
			
			<xs:element ref="account-update" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="account-update-batch-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	        
    
	<xs:element name="response-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="response-message">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>				
		
	
</xs:schema>