schemas/2.3.12/credit-card-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="contact-info.xsd"/>
	<xs:element name="credit-card-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="billing-contact-info" minOccurs="0" />
				<xs:element ref="credit-card" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="billing-contact-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="first-name" minOccurs="0" />
				<xs:element ref="last-name" minOccurs="0" />
				<xs:element ref="address1" minOccurs="0" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0" />
				<xs:element ref="zip" minOccurs="0" />
				<xs:element ref="country" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="credit-card">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="card-number" minOccurs="0" />
				<xs:element ref="encrypted-card-number" minOccurs="0" />
				<xs:element ref="card-last-four-digits" minOccurs="0"/>
				<xs:element ref="card-type" />
				<xs:element ref="expiration-month" minOccurs="0" />
				<xs:element ref="expiration-year" minOccurs="0" />
				<xs:element ref="security-code" minOccurs="0" />
				<xs:element ref="encrypted-security-code" minOccurs="0" />
				<xs:element ref="start-month" minOccurs="0" />
				<xs:element ref="start-year" minOccurs="0" />
				<xs:element ref="issue-number" minOccurs="0" />
				<xs:element ref="card-fingerprint" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="card-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="card-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="encrypted-card-number">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
	<xs:element name="card-last-four-digits">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="card-fingerprint">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="security-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="encrypted-security-code">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
	<xs:element name="expiration-month">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="expiration-year">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="start-year">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="start-month">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="issue-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
