schemas/2.3.12/fraud-session.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
    <xs:element name="fraud-session-id">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="enterprise-site-id">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="udf-name">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="udf-value">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="enterprise-udfs">
        <xs:complexType> 
            <xs:sequence>
                <xs:element ref="udf" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>    
    <xs:element name="udf">
        <xs:complexType> 
            <xs:sequence>
                <xs:element ref="udf-name" minOccurs="1" maxOccurs="1" />
                <xs:element ref="udf-value" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="fraud-result-info">
       <xs:complexType> 
            <xs:sequence>
                <xs:element ref="device-data-collector" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>   
    <xs:element name="device-data-collector">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                    <xs:enumeration value="Y" />
                    <xs:enumeration value="N" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>
