schemas/2.3.12/order-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:element name="order-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="authorized-by-shopper">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment-method">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
