schemas/2.3.12/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="fulfillment.xsd"/>
	<xs:include schemaLocation="ordering-shopper.xsd"/>
	<xs:include schemaLocation="web-info.xsd"/>
	<xs:include schemaLocation="three-d-info.xsd"/>
	<xs:include schemaLocation="credit-card-info.xsd"/>
	<xs:include schemaLocation="ecp-info.xsd"/>
	<xs:include schemaLocation="shopper.xsd"/>
	<xs:include schemaLocation="paypal-info.xsd"/>
	<xs:include schemaLocation="fraud-info.xsd"/>	
	<xs:include schemaLocation="local-bank-transfer-info.xsd"/>
	<xs:include schemaLocation="order-common.xsd"/>
	<xs:element name="param-value">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="total-cart-cost">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tax">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tax-recurring">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tax-rate">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param-name" />
				<xs:element ref="param-value" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shopper-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="ordering-shopper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shopper-id" minOccurs="0" />
				<xs:element ref="seller-shopper-id" minOccurs="0" />
				<xs:element ref="credit-card" minOccurs="0"/>
				<xs:element ref="ecp" minOccurs="0" />				
				<xs:element ref="invoice-contact-info" minOccurs="0" />
				<xs:element ref="paypal" minOccurs="0" />
				<xs:element ref="wire" minOccurs="0" />
				<xs:element ref="local-bank-transfer" minOccurs="0" />
				<xs:element ref="web-info" />
				<xs:element ref="fraud-info" minOccurs="0"/>
				<xs:element ref="three-d-authenticated-info" minOccurs="0" />
				<xs:element ref="authorized-by-shopper" minOccurs="0" maxOccurs="1" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="local-bank-transfer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bank-country" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="post-sale-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice-id" minOccurs="0" />
				<xs:element ref="invoice-status" />
				<xs:element ref="soft-descriptor" minOccurs="0" />
				<xs:element ref="invoices"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="invoices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice-id"/>
				<xs:element ref="original-invoice-id" minOccurs="0"/>
				<xs:element ref="url"/>
				<xs:element ref="financial-transactions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="financial-transactions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="financial-transaction" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="financial-transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status"/>
				<xs:element ref="date-due"/>
				<xs:element ref="date-created"/>
				<xs:element ref="amount"/>
				<xs:element ref="tax"/>
				<xs:element ref="tax-rate"/>
				<xs:element ref="currency"/>
				<xs:element ref="soft-descriptor"/>
				<xs:element ref="payment-method"/>
				<xs:element ref="target-balance"/>
				<xs:element ref="credit-card"/>
				<xs:element ref="paypal-transaction-data" minOccurs="0" />
				<xs:element ref="ecp"/>
				<xs:element ref="invoice-contact-info"/>
				<xs:element ref="skus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="skus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="date-due">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="date-created">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="invoice-status">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order-id" />
				<xs:element ref="seller-order-id" minOccurs="0"/>
				<xs:element ref="soft-descriptor" minOccurs="0" />
				<xs:element ref="ordering-shopper" />
				<xs:element ref="transaction-payment-info" minOccurs="0"/>	
				<xs:element ref="cart" />
				<xs:element ref="expected-total-price" minOccurs="0" />
				<xs:element ref="affiliate-id" minOccurs="0" maxOccurs="1" />
				<xs:element ref="post-sale-info" minOccurs="0" />
                <xs:element ref="fulfillment" minOccurs="0" maxOccurs="1" />
                <xs:element ref="fraud-result-info" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="param-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="item-sub-total">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="item-coupon-total">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="item-total">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>		
	<xs:element name="invoice-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="original-invoice-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="seller-order-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="affiliate-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="expected-total-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="amount" />
				<xs:element ref="currency" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transaction-payment-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paypal-info" minOccurs="0"/>
				<xs:element ref="local-bank-transfer-info" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupons">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coupon" maxOccurs="unbounded" />
				<xs:element ref="coupons-total" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="cdod" type="xs:boolean" />
	<xs:element name="edw-duration">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1" />
				<xs:enumeration value="2" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="charged-currency">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="cart-item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku" />
				<xs:element ref="quantity" />
				<xs:element ref="sku-parameter" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="url" minOccurs="0" />				
				<xs:element ref="item-sub-total" minOccurs="0" />
				<xs:element ref="item-coupon-total" minOccurs="0" />
				<xs:element ref="item-total" minOccurs="0" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charged-currency" minOccurs="0" />
				<xs:element ref="cart-item" maxOccurs="unbounded" />
				<xs:element ref="coupons" minOccurs="0" />
				<xs:element ref="edw-duration" minOccurs="0" />
				<xs:element ref="cdod" minOccurs="0" />
				<xs:element ref="tax" minOccurs="0" />
				<xs:element ref="tax-rate" minOccurs="0" />
				<xs:element ref="total-cart-cost" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupons-total">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="target-balance">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-country">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="wire">
    <xs:complexType>
    </xs:complexType>
  </xs:element>
</xs:schema>
