schemas/2.3.12/paypal-transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order-common.xsd"/>
	<xs:include schemaLocation="url-common.xsd"/>
	<xs:include schemaLocation="paypal-error.xsd"/>
	
	<xs:element name="paypal-transaction">
		<xs:complexType>
			<xs:sequence>
				<!-- for the request: -->
				<xs:element ref="return-url" minOccurs="0" maxOccurs="1" />
				<xs:element ref="cancel-url" minOccurs="0" maxOccurs="1" />
				<xs:element ref="req-confirm-shipping" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="no-shipping" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="in-context" minOccurs="0" maxOccurs="1"/>                
                <xs:element ref="recurring" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="max-amount" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="transaction-type" minOccurs="0" maxOccurs="1" />

				<!-- for the response: -->
				<xs:element ref="paypal-url" minOccurs="0" maxOccurs="1" />
				<xs:element ref="order-id" minOccurs="0" maxOccurs="1" />
				<xs:element ref="paypal-subscription-id" minOccurs="0" maxOccurs="1" />
					<!-- for the PP error code: -->
				<xs:element ref="error-code" minOccurs="0" maxOccurs="1" />
				<xs:element ref="short-comment" minOccurs="0" maxOccurs="1" />
				<xs:element ref="long-comment" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="paypal-url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="max-amount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="req-confirm-shipping">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="no-shipping">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
            </xs:restriction>
        </xs:simpleType>
	</xs:element>
	<xs:element name="in-context">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="recurring">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="Y" />
                    <xs:enumeration value="N" />
                    <xs:enumeration value="true" />
                    <xs:enumeration value="false" />
            </xs:restriction>
        </xs:simpleType>
	</xs:element>
	<xs:element name="transaction-type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AUTH_ONLY" />
				<xs:enumeration value="CAPTURE" />
				<xs:enumeration value="PAYPAL_ORDER" />
				<xs:enumeration value="AUTH/CAPTURE" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="paypal-subscription-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
