schemas/2.3.12/paypal-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order.xsd"/>
	<xs:element name="paypal-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" />
			 <xs:element ref="pp-error-code" />
				<xs:element ref="pp-short-comment" />
				<xs:element ref="pp-long-comment" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="paypal">
		<xs:complexType>
		  <xs:sequence>
                <xs:element ref="pp-cancel-url" maxOccurs="1"/>
                <xs:element ref="pp-return-url" maxOccurs="1"/>
                <xs:element ref="pp-req-confirm-shipping" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="pp-no-shipping" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="pp-in-context" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="pp-authorize-only" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="pp-authorize-max-amount" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="paypal-transaction-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pp-transaction-id" />
				<xs:element ref="pp-subscription-id" />
				<xs:element ref="pp-billing-agreement-id" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pp-transaction-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="paypal-subscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pp-subscription-id" />
				<xs:element ref="pp-original-transaction-id" />
				<xs:element ref="pp-billing-agreement-id" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pp-subscription-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="pp-original-transaction-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="pp-billing-agreement-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	
    <xs:element name="pp-cancel-url">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-return-url">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-error-code">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-long-comment">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-short-comment">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-authorize-only">
        <xs:simpleType>
            <xs:restriction base="xs:int">
            	   <xs:enumeration value="0" />
                   <xs:enumeration value="1" />
                   <xs:enumeration value="2" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-authorize-max-amount">
        <xs:simpleType>
            <xs:restriction base="xs:decimal" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-req-confirm-shipping">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-no-shipping">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="pp-in-context">
        <xs:simpleType>
            <xs:restriction base="xs:boolean"/>
        </xs:simpleType>
    </xs:element>
    
</xs:schema>
