schemas/2.3.12/paypal-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order.xsd"/>
	<xs:element name="paypal-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="paypal">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="paypal-transaction-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pp-transaction-id" />
				<xs:element ref="pp-subscription-id" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pp-transaction-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="paypal-subscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pp-subscription-id" />
				<xs:element ref="pp-original-transaction-id" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pp-subscription-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="pp-original-transaction-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
