schemas/2.3.12/refunds.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="refund.xsd"/>
    <xs:element name="refunds">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="balance-amount" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="vendor-balance-amount" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="refund" minOccurs="0"  maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="balance-amount">
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="vendor-balance-amount">
        <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
        </xs:simpleType>
    </xs:element>
</xs:schema>
