schemas/2.3.12/transaction-fraud-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="fraud-session.xsd"/>
	<xs:include schemaLocation="shipping-contact-info.xsd"/>		
    <xs:element name="transaction-fraud-info">
       <xs:complexType> 
            <xs:sequence>
                <xs:element ref="fraud-session-id" minOccurs="0" maxOccurs="1" />
                <xs:element ref="shopper-ip-address" minOccurs="0" maxOccurs="1" />
                <xs:element ref="company" minOccurs="0" maxOccurs="1" />
                <xs:element ref="shipping-contact-info" minOccurs="0" />                
                <xs:element ref="enterprise-site-id" minOccurs="0" maxOccurs="1" />
                <xs:element ref="enterprise-udfs" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>   
    <xs:element name="shopper-ip-address">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="company">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>                    
</xs:schema>
