schemas/2.3.12/vaulted-shopper.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">	
	<xs:include schemaLocation="transaction.xsd"/>
	<xs:include schemaLocation="shopper-common.xsd"/>
	<xs:include schemaLocation="ecp-info.xsd"/>
	<xs:include schemaLocation="shipping-contact-info.xsd"/>
	<xs:include schemaLocation="order-common.xsd"/>
	
	
	<xs:element name="vaulted-shopper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vaulted-shopper-id" minOccurs="0" maxOccurs="1" />
				<xs:element ref="merchant-shopper-id" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="first-name" minOccurs="1" />
				<xs:element ref="last-name" minOccurs="1" />
				<xs:element ref="email" minOccurs="0" />
				<xs:element ref="country" minOccurs="0" />				
				<xs:element ref="state" minOccurs="0" />
				<xs:element ref="address" minOccurs="0" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="zip" minOccurs="0" />
				<xs:element ref="phone" minOccurs="0" />
				<xs:element ref="personal-identification-number" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="company-name" minOccurs="0" maxOccurs="1" />
				<xs:element ref="soft-descriptor" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="shopper-currency" minOccurs="0" />	
				<xs:element ref="wallet-id" minOccurs="0" />			
				<xs:element ref="payment-sources" minOccurs="0" />
				<xs:element ref="shipping-contact-info" minOccurs="0" />
				<xs:element ref="transaction-fraud-info" minOccurs="0" />
				<xs:element ref="fraud-result-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="last-payment-info" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="payment-sources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="credit-card-info" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="ecp-info" minOccurs="0" maxOccurs="1" />			
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="last-payment-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="payment-method" minOccurs="1" maxOccurs="1" />
				<xs:element ref="credit-card" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ecp" minOccurs="0" maxOccurs="1" />			
				<xs:element ref="wallet" minOccurs="0" maxOccurs="1" />			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>