schemas/2.3.12/web-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:element name="web-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ip" maxOccurs="1" />
				<xs:element ref="remote-host" minOccurs="0" maxOccurs="1" />
				<xs:element ref="user-agent" minOccurs="0" maxOccurs="1" />
				<xs:element ref="accept-language" minOccurs="0"
					maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ip">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="remote-host">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="user-agent">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="accept-language">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
